{% extends 'base.html' %} {% block styles %}
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  rel="stylesheet"
/>
<link rel="stylesheet" href="D:/Django-Projects/django_chatbot/staticx/style.css" />
{% endblock %} {% block content %}
<!-- chat container -->
<div class="chat-container">
  <div class="chat outgoing">
    <div class="chat-content">
      <div class="chat-details">
        <img src="D:/Django-Projects/django_chatbot/staticx/images/chat-screeen/user.jpg" alt="user-profile-image">
        <p>Hi can you please assist me with getting a c program for greatest of two numbers</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
